@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
    --corDeFundo: #fdfdfd;
    --corDaFonte: #F5FCCD;
    --corDaFontePrincipal: #000000;
    --corDaFonteHover: #78D6C6;
    --corDeFundoMenu: #419197;
    --corBotaoMenu:#ffffff;
    --corSombreamentoMenu: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --corPretaTransparente: #00000085;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.corpo {
    background-color: var(--corDeFundo);   
}

.cabecalho{
    background-image: url("assets/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: var(--corPretaTransparente);
}

.caixa__checkbox__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px; 
}

.caixa__checkbox__label::after, 
.caixa__checkbox__label::before, 
.caixa__checkbox__label > .botao_menu {
    content:"";
    width: 24px;
    height: 3px;
    background-color: var(--corBotaoMenu);
    z-index: 11;
    transition: 1s;
}

#caixa__checkbox:checked ~ .caixa__checkbox__label::after{
    background-color: var(--corBotaoMenu);
    transform: rotate(45deg);
    transition: 1s;
    width: 24px;
    transform: translateY(-8px) rotate(45deg);
}

#caixa__checkbox:checked ~ .caixa__checkbox__label::before {
    background-color: var(--corBotaoMenu);
    transform: translateY(8px) rotate(-45deg);
    transition: 1s;
    width: 24px;    
}

#caixa__checkbox:checked ~ .caixa__checkbox__label > span{
    opacity: 0;
}

#caixa__checkbox{
    display: none;
}

.lista__hamburguer {
    background-color: var(--corDeFundoMenu);
    box-shadow: var(--corSombreamentoMenu);
    list-style-type: none;
    height: 900px;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: -100%;
    padding-top: 100px;
    z-index: 10;
    transition: 1s;
}

.lista__hamburguer > li {
    width: 260px;
    text-align: center;
    padding: 20px 0 20px 0; 
    
}

.lista__hamburguer > li:hover {
    background-color: var(--corDaFonteHover);
}

.lista__hamburguer > li > a {
    width: 100%;
    text-decoration: none;
    color: var(--corDaFonte);
}

.lista__hamburguer > li > a:hover {
    text-decoration: none; 
}

#caixa__checkbox:checked ~ .lista__hamburguer {
    position: absolute;
    left: 0;
    transition: 1s;  
}

.navbar__logo {
    height: 45px;
    width: 45px;
}

.cabecalho__baixo > span  {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--corDaFonte);
    padding: 30% 0 30% 0;
    text-align: center;
}

.principal__cima > p  {
    color: var(--corDaFonte);
    text-align: center;
}

.principal {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.principal > h1, .principal > h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.principal > p {
    text-align: left;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.principal__dicas {
    display: flex;
    margin-bottom: 4rem;
}

.principal__dicas > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.principal__dicas > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.principal__dicas > ul > li > a > img {
    width: 6rem;
    padding: 2rem 0 1.1rem 0;
}

.principal__dicas > ul > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color:var(--corDaFontePrincipal);
    font-weight: 700;
}

.barra_inf {
    display: block;
    background-color: var(--corDeFundoMenu);
    width: 0px;
    height: 5px;
    border-radius: 45px;
}

.principal__dicas > ul > li > a:hover > .barra_inf {
    width: 100%;
    transition: 1s;
}

.cabecalho__fotos {
    background-image: none;
}

.sessao__fotos {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px; 
}

.sessao__fotos__foto {
  margin: 2px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  
}

.sessao__fotos__descricao {
    text-align: center;
}

.sessao__fotos__foto-turistico {
  margin: 2px;
  width: 100%;
  object-fit: cover;
}

.principal__titulo {
    text-align: center;
}

#redes {
    width: 35px;
}


.rodape > p {
    margin: 10px;
}

.rodape {
    text-align: center;
    margin: 10px 0 10px 0;
}

.apresentacao_cidade > h3 {
    text-align: center;
}